logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
node_modules
dist
.history
activator-sbt-*-shim.sbt
*.sublime-project
client/package-lock.json
.gradle
client/libs/**
client/test/coverage
client/test/results
client/dist/**
client/src/ng1/libs/**
client/node_modules
client/mocha.json
.ng-grunt-tmp
buildInfo.json
previousBuildInfo.json
main.css
login.css
client/fonts/fontcustom/.fontcustom-manifest.json
client/fonts/fontcustom/fontcustom.yml
**/conf/elasticsearch/*
worker/src/bin/deploy.py
*.map
stream2es
run-worker
run-web
platform/dumps/
platform/*.tar.gz
platform/*.zip
selenium/build/**
selenium/.gradle/**
selenium/tools/**
selenium/log*
selenium/caches/
selenium/daemon/
selenium/native/
scripts/sds-mock

!scripts/sds-mock/fileBackups
scripts/sds-mock/fileBackups/*
!scripts/sds-mock/fileBackups/GETdir_
scripts/sds-mock/fileBackups/GETdir_/*
!scripts/sds-mock/fileBackups/GETdir_/dir_sds
scripts/sds-mock/fileBackups/GETdir_/dir_sds/*
!scripts/sds-mock/fileBackups/GETdir_/dir_sds/dir_mock
ews-rules/.gradle
ews-rules/build/
ews-rules/repository/build/

